@import "tailwindcss";

:root {
  --bottom-nav-height: 64px;

  --background: #fbfff8;
  --foreground: #171717;
  --spacing: 0.25rem;

  --section-padding: 12px;

  --font-main: var(--font-main);

  --color-primary: #70c05b;
  --color-dark: #271746;
  --color-yellow: #fbc458;
  --color-orange: #ff9941;
  --color-green: #78d195;
  --color-purple: #765990;
  --color-red: #a15e5e;
  --color-light-gray: #e5e5e5;
  --color-star-rating: #ffbb30;

  --text-color-dark: #414141;

  --placeholder-text-color: #8f8f8f;

  --shadow-default: 2px 0px 8px 0px rgba(0, 0, 0, 0.1);
  --shadow-button-default: 4px 8px 16px 0px rgba(112, 192, 91, 0.2);
  --shadow-button-secondary: 4px 8px 16px 0px rgba(0, 0, 0, 0.1);
  --shadow-button-active: inset 0px 2px 0px 0px rgba(0, 0, 0, 0.2);
  --shadow-article: 4px 8px 16px 0px rgba(255, 102, 51, 0.2);
  --shadow-card-shop: 4px 8px 16px 0px rgba(255, 102, 51, 0.2);
}

@media (min-width: 768px) {
  :root {
    --bottom-nav-height: 0px;
  }
}

@utility wrapper {
  padding-inline: max(var(--section-padding), calc((100% - 1400px) / 2));
  width: 100%;
}

@utility page-spacing {
  @apply mb-10 md:mb-20;
}

@utility catalog-heading {
  @apply line-clamp-2 grow text-[22px] font-bold text-[#333] xl:text-[32px]
}

@utility no-search-cancel {
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    appearance: none;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-main), sans-serif;
}
