@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

:root {
  --bottom-nav-height: 64px;
  --spacing: 0.25rem;

  --section-padding: 12px;

  --color-primary: #70c05b;
  --color-orange: #ff6633;
  --color-green: #78d195;
  --color-red: #a15e5e;
  --color-destructive: #D1242F;
  --color-light-gray: #e5e5e5;

  --text-color-dark: #414141;

  --placeholder-text-color: #8f8f8f;

  --shadow-default: 2px 0px 8px 0px rgba(0, 0, 0, 0.1);
  --shadow-card-shop: 4px 8px 16px 0px rgba(255, 102, 51, 0.2);

  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@media (min-width: 768px) {
  :root {
    --bottom-nav-height: 0px;
  }
}

@utility wrapper {
  padding-inline: max(var(--section-padding), calc((100% - 1400px) / 2));
  width: 100%;
}

@utility page-spacing {
  @apply mb-10 md:mb-20;
}

@utility catalog-heading {
  @apply line-clamp-2 grow text-[22px] font-bold text-[#333] xl:text-[32px]
}

@utility no-search-cancel {
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    appearance: none;
  }
}

@utility focus-ring {
  @apply focus-visible:ring-1
  focus-visible:ring-(--color-primary)
  focus-visible:ring-offset-1
  focus-visible:outline-none;
}

@utility peer-focus-ring {
  @apply peer-focus-visible:ring-1
  peer-focus-visible:ring-(--color-primary)
  peer-focus-visible:ring-offset-1;
}

@utility focus-ring-destructive {
  @apply focus-visible:ring-1
  focus-visible:ring-(--color-destructive)
  focus-visible:ring-offset-1
  focus-visible:outline-none;
}

@utility link-style {
  @apply text-(--color-primary)
  underline-offset-1
  transition-colors
  hover:underline;
}

@utility button-base {
  @apply flex cursor-pointer items-center justify-center rounded
  transition-colors
  disabled:pointer-events-none
  disabled:opacity-50;
}

@utility button-primary {
  @apply bg-(--color-primary)
  text-white
  hover:opacity-90
  focus-ring
  active:opacity-80;
}

@utility button-outline {
  @apply border border-(--color-primary)
  bg-white
  text-(--color-primary)
  active:opacity-90
  hover:bg-(--color-primary) hover:text-white
  focus-visible:bg-(--color-primary) focus-visible:text-white
  focus-ring;
}

@utility button-destructive {
  @apply border border-(--color-destructive)
  bg-white
  text-(--color-destructive)
  active:opacity-90
  hover:bg-(--color-destructive) hover:text-white
  focus-visible:bg-(--color-destructive) focus-visible:text-white
  focus-ring-destructive;
}

@utility button-accent {
  @apply border border-(--color-primary)
  bg-white
  text-(--color-primary)
  hover:border-transparent
  hover:bg-(--color-orange)
  hover:text-white
  focus-ring
  active:opacity-90
  focus-visible:bg-(--color-orange) focus-visible:text-white;
}

@utility button-neutral {
  @apply border border-gray-200
  bg-gray-100
  text-neutral-700
  active:opacity-90
  hover:bg-gray-200
  focus-visible:bg-gray-200
  focus-ring;
}

@utility button-selected {
  @apply bg-(--color-primary)
  text-white
  focus-ring
  active:opacity-80;
}

@utility button-xs {
  @apply h-6 px-1 text-xs;
}

@utility button-sm {
  @apply h-8 px-2 text-sm;
}

@utility button-md {
  @apply h-10 px-4;
}

@theme inline {
  --font-heading: var(--font-sans);
  --font-sans: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}